/*@import "tailwindcss/utilities.css";
*/

@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat.ttf);
}

@font-face {
  font-family: "OpenSans";
  src: url(./assets/fonts/OpenSans.ttf);
}

/* Asegurar que Material-UI herede la fuente */
.MuiTypography-root,
.MuiTimelineContent-root,
.MuiTimelineDot-root,
.MuiTimelineConnector-root {
  font-family: "Montserrat", sans-serif !important;
}

/* Para todos los componentes de Material-UI */
.MuiBox-root,
.MuiContainer-root,
.MuiGrid-root,
.MuiPaper-root {
  font-family: "Montserrat", sans-serif !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  user-select: none;
}

.start-button {
  padding: 10px 20px;
  border: 2px solid #fff;
  cursor: pointer;
  background-color: #fff;
  color: #111;
  font-weight: 700;
  outline: none;
  font-size: 20px;
  transition: all 0.3s;
}

.start-button:hover {
  background-color: #111;
  color: #fff;
}


.canvas {
  background-color: black;
}

.container {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  color: #fff;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  transform-origin: center;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  opacity: 0;
  animation: fadeIn 0.3s ease-out 0.8s forwards;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding: 30px;
  margin-bottom: 30px;
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  background: #ffffff44;
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
  background: #ffffff88;
  border-radius: 10px;
  transition: all 2s ease;
}

.content::-webkit-scrollbar-thumb:hover {
  background: #ffffffaa;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content-header-hidden {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.content-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.content-header h1 {
  justify-self: center;
  color: #fff;
  font-size: 2.5rem;
}

.content-header button {
  display: flex;
  align-items: center;
  justify-self: start;
  gap: 15px;
  padding: 1rem;
  outline: none;
  background-color: #da1d1d;
  border: none;
  color: #fff;
  font-size: 20px;
  transition: all .2s;
  cursor: pointer;
}

.content-header button:hover {
  background-color: #b60000;
}


.projects-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 30px;
}

.project-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 5px;
  background-color: #000000aa;
  padding: 1rem;
  border: 2px solid #00ccff;
  box-shadow: 0 0 10px 1px #00ccff69;
}

.project-item img {
  object-fit: cover;
  height: 280px;
  max-width: 100%;
  margin-bottom: 10px;
}

.project-item h2 {
  font-size: 20px;
}

.project-item p {
  font-size: 16px;
}

.project-skills {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 5px;
}

.project-skills>div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.project-skills svg {
  font-size: 30px;
}

.project-skills a {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding: 2rem;
  outline: none;
  background-color: #002e69;
  border: none;
  border-radius: 100%;
  padding: 0.2rem;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  transition: all .1s;
  cursor: pointer;
}

.project-skills a:hover {
  background-color: #001e46;
}


/*CONSOLE*/

.console-overlay {
  position: relative;
  left: -40%;
}

.console-overlay input {
  outline: none;
  border: none;
  font-family: "Montserrat";
  font-size: 14px;
}

.colors-pointer {
  position: relative;
  width: 17px;
  height: 17px;
  background-color: #0000;
  border-radius: 50%;
  border: 2px solid #000;
  z-index: -100;
}

.colors-pointer.orange {
  transform: translateX(22.75px);
}

.colors-pointer.lightpurple {
  transform: translateX(-22.75px);
}

/*CONTACT*/

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-container button {
  margin-top: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0.5rem 1rem;
  align-self: flex-start;
  outline: none;
  border: none;
  background-color: #00ffff;
  cursor: pointer;
  color: #000;
  transition: all 0.2s;
  font-weight: 800
}

.contact-container button:hover {
  background-color: #00ccff;
}

.textfield label {
  color: #ddd !important;
  /* color del label */
  font-family: "Montserrat", sans-serif !important;
}

.textfield {
  width: 350px;
}


/* color del texto escrito */
.textfield .MuiInputBase-input {
  color: #ddd !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 20px;
}

/* color de la línea inferior */
.textfield .MuiInput-underline:before {
  border-bottom: 1px solid #ddd !important;
}

.textfield .MuiInput-underline:after {
  border-bottom: 2px solid #00ccff !important;
  /* cuando está enfocado */
}

/* color del label cuando está enfocado */
.textfield .Mui-focused {
  color: #ddd !important;
}


/* CERTIFICATES */
.certificate-popup {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100vw;
  height: 100%;
  background-color: #000000aa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.certificate-container {
  width: 80%;
  height: 80%;
}

.certificate-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.certificates-drag {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.certificates-drag svg {
  font-size: 48px;
  color: #fff5;
}

/* About me */

.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding-bottom: 30px;
}

.about-me-container>div {
  width: 100%;
  height: 100%;
}

.about-me-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-me-container p {
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
}


.about-me-container a {
  padding: 10px 20px;
  background-color: #00ccff;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.about-me-container a:hover {
  background-color: #00ffff;
}

@media (max-width: 1280px) {
  .projects-list {
    grid-template-columns: 1fr 1fr;
  }
}


@media (max-width: 768px) {
  .projects-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 620px) {
  .content-header {
    padding-top: 15px;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .content-header h1 {
    font-size: 32px;
    justify-self: center;
  }

  .content-header button {
    justify-self: center;
    font-size: 16px;
  }

  .content {
    padding: 15px;
  }

  .project-skills>div {
    gap: 5px;
  }

  .textfield {
    width: 250px;
  }

  .certificates-drag {
    position: absolute;
    bottom: 2%;
    right: 50%;
  }

}